extends layout

block content

    .jumbotron.masthead
      .container
        h1
            任务系统
        h4
            本任务发布仅仅限于内部体验，不做外部使用

    .container.projects
    .projects-header.page-header
      h2 Bootstrap相关优质项目推荐
      p 这些项目或者是对Bootstrap进行了有益的补充，或者是基于Bootstrap开发的
      p 我们是来自五湖四海，拥有相同梦想的一群有激情的青年

